@font-face {
  font-family: title;
  src: url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/ttf/file.ttf") format("ttf");
}
/*MENU*/
.toggle-menu {
  top : 0;
  width: 30px;
  height: 30px;
  margin: 30px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: rgb(19, 19, 19);
  margin: 10px 0;
  transition: 0.4s;
  z-index: 10;
}
/* Rotate 1st, fade 2nd, rotate 3rd*/
.change .bar1 { 
  opacity: 0;
}
.change .bar2 {
  opacity: 100
}
.change .bar3 { 
  opacity:0;
}


.side-bar {
  z-index: 1000;
  position: fixed;
  top : 60px;
  left: 38px;
  width: 140px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.800);
  /* z-index: 10; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align-last: justify;
  overflow: hidden;
  visibility: hidden;
  /* background-color: rgba(0, 0, 0, 0.911); */
}

.side-bar ul li{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  line-height: 50px;
  list-style: none;
}

.side-bar ul li a{
  display: block;
  list-style: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  /* color: whitesmoke */
  color: black;
}
.side-bar ul li a:hover {
 color: rgba(255, 191, 14, 0.836);
}

/*ISI*/
body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0)15%,rgba(255,255,255)100%);
  background-image: url(https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
  background-size: cover;
  background-position: center;
  overflow: scroll;
}
#home{
  width: 100%;
    height: 270%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.landing{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nama{
  z-index: 1;
    font-family: title;
    font-weight: bolder;
}
.title{ font-family: title;
  font-weight: bolder;}
  .slogan{ font-family:'Covered By Your Grace', cursive;}

.landing h1{ font-size: 40px; padding:20px;font-family: title;color: rgb(0, 0, 0);}
.landing h2{ font-size: 15px; padding:20 auto; font-family: 'Codystar', cursive;color: rgb(0, 0, 0);}
.landing p{ font-size: 18px; font-family: 'Covered By Your Grace',cursive;color: rgb(0, 0, 0);}

#about{
  width: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile h1{font-size: 40px;padding: 20px;color: white;text-align: center;}
.profile p{color: white;text-align: center;}
#about img{
  height:min-content;
  width:min-content;
}

#gallery{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: fill;
  max-width: 10000px;
  margin: 30px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}

#gallery h1{font-family: prata;font-size: 40px;}
.mySlides {
  object-fit: fill;
  display: none;
  height: 400px;
}

.mySlides img{
  justify-content: center;
  width: 80;
  height: 400px;
}
/* .mySlides img:hover{
  filter: grayscale(100%);
} */

.prev,.next {
    justify-self: center;
    position: relative;
    top: 50%;
    cursor: pointer;
    position: ;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -120px;
    top: 20px;
}

.prev {
    left: -120px;
    top: 43px;
}

.prev:hover,
.next:hover {
    color: rgba(17, 17, 16, 0.755);
    background-color: rgba(75, 75, 75, 0.748)
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}


/*FOOTER*/
footer{
  width: 100%;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

footer p{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 15px
}

.quote{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.socialmedia{
  padding-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:  5px auto;
}

.socialmedia img{
  width: 30px;
  padding: 5px;
  display: inline-block;  
}
.copyright{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  font-style: italic;
  background-color: white;
}
